<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noredine69.orge.ws.core.mapper.FeeRuleMapper">
    <resultMap id="FeeRuleResultMap" type="com.noredine69.orge.ws.core.model.FeeRule">
        <id column="id"                     property="id" />
        <result column="name"               property="name" />
        <result column="rate"               property="rate" />
        <result column="sql_restrictions"   property="sqlRestrictions" />
        <result column="is_default"         property="isDefault" />
        <result column="freelancer_location" property="freelancerLocationCountryId" />
        <result column="client_location" property="clientLocationCountryId" />
    </resultMap>
    <sql id="BasicSelect">
        select fr.id as id , fr.name as name, fr.rate as rate , fr.sql_restrictions as sql_restrictions from fee_rule fr
    </sql>
    <select id="findAllFeeRule" resultMap="FeeRuleResultMap">
        <include refid="BasicSelect"/>
    </select>
    <select id="findNotDefaultFeeRuleWithLocation" resultMap="FeeRuleResultMap">
        <include refid="BasicSelect"/>
        INNER JOIN country freelancerCountry
        ON fr.freelancer_location = freelancerCountry.code
        INNER JOIN country clientCountry
        ON fr.freelancer_location = clientCountry.code
        WHERE
        freelancerCountry.iso2 = #{freelancerCountryIso2} AND
        clientCountry.iso2 = #{clientCountryIso2} AND
        fr.is_default = '0'
    </select>
    <select id="findFeeRuleById" resultMap="FeeRuleResultMap">
        <include refid="BasicSelect"/>
        WHERE id=#{id}
    </select>

    <select id="findDefaultFeeRule" resultMap="FeeRuleResultMap">
        <include refid="BasicSelect"/>
        WHERE is_default = '1'
    </select>

    <select id="findNotDefaultFeeRule" resultMap="FeeRuleResultMap">
        <include refid="BasicSelect"/>
        WHERE is_default = '0'
    </select>

    <insert id="insertFeeRule" parameterType="com.noredine69.orge.ws.core.model.FeeRule"
            useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        insert into fee_rule
        (
          name,
          rate,
          freelancer_location,
          client_location,
          sql_restrictions,
          is_default
        )values(
          #{feeRule.name},
          #{feeRule.rate},
          #{feeRule.freelancerLocationCountryId},
          #{feeRule.clientLocationCountryId},
          #{feeRule.sqlRestrictions},
          <if test="feeRule.isDefault">
            '1'
          </if>
          <if test="!feeRule.isDefault">
            '0'
          </if>
        )
    </insert>
</mapper>
